

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://appseed.us/admin-dashboards/django-dashboard-black" class="nav-link">
                MLB - Meta Legislação Brasileira
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="" rel="sponsored noopener noreferrer" 
                      href="/">MLB</a> 
            - coded by <a target="" rel="noopener noreferrer" href="/page-user.html">@rogerbage</a>
          </div>
        </div>
      </footer>
      
