

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="" rel="sponsored noopener noreferrer" 
             href="{% url 'home' %}" class="simple-text logo-mini">
            LBM
          </a>
          <a target="" rel="sponsored noopener noreferrer" 
             href="{% url 'home' %}" class="simple-text logo-normal">
            Painel de Dados
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/?type=decreto&semantic=false&search={{search}}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Decretos Presidenciais</p>
            </a>
          </li>
          <li class="{% if 'leis-ordinarias' in segment %} active {% endif %}">
            <a href="/?type=ordinaria&semantic=false&search={{search}}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Leis Ordinárias</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
            <li class="active">
           <a target="" 
               href="{% url 'login' %}">
              <i class="tim-icons icon-spaceship"></i>
              <p>Login</p>
            </a>
          </li> 
          <li class="active">
            <a target="" 
               href="{% url 'register' %}">
              <i class="tim-icons icon-spaceship"></i>
              <p>Registrar</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
