{% extends "layouts/base.html" %}


{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




{% if request.user.is_authenticated %}
    



    <div class="row" >
      <div class="col-12">
        <div class="card card-chart" id="div_big_chart">
          <div class="card-header ">
            <div class="row" >
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Editados pelo Presidente da República, regulamentam as leis e dispõem sobre a organização da administração pública.</h5>
                <h2 class="card-title">Decretos Presidenciais</h2>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                
                <table class="table" style="width: 200px; height: 30px;">
                  <tbody>
                    <tr>
                      <td style="padding: 0;">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" id="semantic_search_checkbox" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td style="padding: 0;">
                        <p class="title">Busca Semântica</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                  
                  
                    
                  <span class="input-group-text text-body form-control">
                   <div id="search_loading" class="lds-dual-ring"></div>
                    <input id="search_input" type="text" style="border: none;" class="form-control" placeholder="Pesquisar Termo" value="{{ search }}">
                    <i id="search_icon" style="cursor: pointer;" class="fas fa-search" aria-hidden="true"></i>
                  </span>
                  
                </div>
                <div class="btn-group btn-group-toggle float-left" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="1851_2023">
                    <input type="radio" id="1851_2023_checked" name="options" checked style="display: none">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Todos</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-double-left"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1851_1988">
                    <input type="radio" class="d-none d-sm-none" name="options" style="display: none">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">1851 - 1988</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-align-center"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1989_2023">
                    <input type="radio" class="d-none" name="options" style="display: none">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">1989 - 2023</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-double-right"></i>
                    </span>
                  </label>
                </div>
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" onclick="ferramentas.exportDivAsImage('div_big_chart', 'decretos_todos_anos_' + ultimaBusca)" id="btn_download_big_chart">
                    <i class="tim-icons icon-cloud-download-93"></i>
                  </label>
                  
                </div>
              </div>

            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart" id="div_top_five_chart">
          <div class="card-header">
            <h5 class="card-category">Decretos Presidenciais: Os 5 anos com maiores ocorrencias do termo: <span class="text-success" id="inputTopFiveTerm">{{search}}</span></h5>
            <h3 class="card-title"> Top 5 <a href="#" onclick="ferramentas.exportDivAsImage('div_top_five_chart', 'decretos_top_five_' + ultimaBusca)" style="float: right;"><i class="tim-icons icon-cloud-download-93"></i></a></h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="Top5Chart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card card-chart" id="div_top_year_chart">
          <div class="card-header">
            <h5 class="card-category">Decretos Presidenciais: Pico de ocorrencias do termo: <span class="text-success" id="inputTopYearTerm">{{search}}</span></h5>
            <h3 class="card-title"><span id="topYearSpan"> Pico </span><a href="#" onclick="ferramentas.exportDivAsImage('div_top_year_chart', 'decretos_pico_' + ultimaBusca)" style="float: right;"><i class="tim-icons icon-cloud-download-93"></i></a></h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="topYearCanvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    

      <div class="col-lg-4">
        <div class="card card-chart" id="div_first_five_chart">
          <div class="card-header">
            <h5 class="card-category">Decretos Presidenciais: Primeiros 5 anos com a ocorrencias do termo: <span class="text-success" id="inputFirstFiveTerm">{{search}}</span></h5>
            <h3 class="card-title">Primeiros 5 <a href="#" onclick="ferramentas.exportDivAsImage('div_first_five_chart', 'decretos_primeiros_cinco_' + ultimaBusca)" style="float: right;"><i class="tim-icons icon-cloud-download-93"></i></a></h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="firstFiveChart"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-lg-6 col-md-12">
        <div class="card card-tasks">
          <div class="card-header ">
            <h6 class="title d-inline">Total de Decretos com o termo "<span class="text-success" id="d_total_search"></span>": <span id="d_total"></span></h6>
            <!-- <div class="dropdown">
              <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#pablo">Action</a>
                <a class="dropdown-item" href="#pablo">Another action</a>
                <a class="dropdown-item" href="#pablo">Something else</a>
              </div>
            </div> -->
          </div>
          <div class="card-body ">
            <div class="table-full-width table-responsive" id="table_full_laws_list">
              <table class="table" id="table_laws_list">
                <tbody id="tbody_laws_list">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">Estatísticas Gerais</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <tbody>
                  <tr>
                    <td>
                      Primeiro ano com Decretos
                    </td>
                    <td class="text-center">
                      1851
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Decretos no primeiro ano (ano 1851)
                    </td>
                    <td class="text-center">
                      2
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Último ano (completo) com decretos
                    </td>
                    <td class="text-center">
                      2022
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Decretos no último ano completo (ano 2022)
                    </td>
                    <td class="text-center">
                      398
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Decretos totais de 1851 à 2023 
                    </td>
                    <td class="text-center">
                      29.651 decretos
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Ano com mais decretos 
                    </td>
                    <td class="text-center">
                      1988
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Máximo de decretos em 1 ano (ano 1988)
                    </td>
                    <td class="text-center">
                      1845 decretos
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Ano com menos decretos
                    </td>
                    <td class="text-center">
                      1869
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mínimo de decretos em 1 ano (ano 1869)
                    </td>
                    <td class="text-center">
                      1 decreto
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="semantic_search_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="margin-top: -150px;">
    <div class="modal-content" style="height: 70vh;">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_rule_title">Busca semântica por ementa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="height: 100%;">
              <div class="col-md-12">
                <div class="form-group" style="height: 100%;">
                  <div class="form-group"  style="height: 100%;">
                    <!-- <label class="bmd-label-floating"> Adicione instruções e regras para este componente.</label> -->
                    <textarea id="semantic_search_textarea" class="form-control" style="height: 100%; color: #000;" rows="10"></textarea>
                    <input type="hidden" id="edit_rule_component_id"/>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="semantic_search_button" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </div>
</div>
    

{% else %}
  
{% endif %}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function() {
    let semantic_search_checkbox = document.getElementById('semantic_search_checkbox');
    let search_input = document.getElementById('search_input');
    let semantic_search_button = document.getElementById('semantic_search_button');
    let semantic_search_textarea = document.getElementById('semantic_search_textarea');
    atualPage = 'decreto'
    // Javascript method's body can be found in assets/js/demos.js
    metaLeg.initChartsConfiguration();
    metaLeg.initCharts();
    metaLeg.searchTerm("{{search}}", "{{tipo}}", semantic_search_checkbox.checked);
    var listElm = document.getElementById("table_full_laws_list");
    listElm.addEventListener('scroll', function() {
      
      if (listElm.scrollTop + listElm.clientHeight >= (listElm.scrollHeight)) {
        metaLeg.listLoadEnd();
      }
      if (listElm.scrollTop  == 0) {
        metaLeg.listLoadBegin();
      }
    });

    $("#1851_2023").click(function() {
      metaLeg.setBigChart(dXY, 1851, 2023);
    });
    $("#1851_1988").click(function (){
      metaLeg.setBigChart(dXY, 1851, 1988);
    });
    $("#1989_2023").click(function() {
      metaLeg.setBigChart(dXY, 1989, 2023);
    });
    $("#search_icon").click(function(event) {
      event.preventDefault();
      searchLeg(search_input.value, 'decreto', semantic_search_checkbox.checked);
    });


    

    search_input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        searchLeg(search_input.value, 'decreto', semantic_search_checkbox.checked);
      }
    }); 

    search_input.addEventListener("click", function(event) {
      if(semantic_search_checkbox.checked){
        $('#semantic_search_modal').modal();
      }
    }); 

    semantic_search_button.onclick = function (event){
      event.preventDefault();
      search_input.value = semantic_search_textarea.value;
      searchLeg(search_input.value, 'decreto', semantic_search_checkbox.checked);
      $("#semantic_search_modal").modal('hide');
    };
    

    semantic_search_checkbox.onclick = function (event){
      console.log("aui");
      if (semantic_search_checkbox.checked == true){
        $('#semantic_search_modal').modal();
      }
    };


    function searchLeg(search, type, semantic){
      url= 'type=' + type + '&semantic=' + semantic + '&search=' + search;
      window.history.replaceState(null, null, url);
      metaLeg.searchTerm(search, 'decreto', semantic);
    }

  });


</script>

{% endblock javascripts %}
