<div class="modal fade" id="chat_modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content" id="modal_content" style="background: #fff; min-width: 800px; ">
      <div id="modal_header"></div>
      <div class="modal-header">
        <h4 class="modal-title" style="color: #000" id="modalTitle">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h5 class="text-danger" style="margin-left: 7%;" id="modalEmenta"></h5>
      <h2 class="modal-title" style="margin-left: 7%; color: #000;" id="modal_subtitle"></h2>
      <div class="modal-body" style="color: #000; " id="modalBody">
        ...
      </div>
      <div class="modal-footer" id='modalFooter'>
        
      </div>
    </div>
  </div>
</div>